html, body, .container-fluid, .content-row {
    height: 100%;
background-color: #191919;
color: white;}


.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #d5ffcc;
    color: #191919;
}

.navbar { 
    background-color: #d5ffcc;
    color: black;
}

#weather-content{
    background-color: #191919;
    color: white;
}